@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* make all borders transparent */
    border: 0;
    border-color: transparent;
}

:root {
    --cor1: #6174FF;
    --cor2: #BDA964;
    --cor3: #FCD347;
    --cor4: #676EA7;
    --cor5: #7D7761;

    --cor1-2: #362B2B;
    --cor2-2: #e0251b84;
    --cor3-2: #8B433F;
    --cor4-2: #e0251b65;
}

body {
    height: 100vh;
    display: grid;
    grid-template: auto 2fr 0.8fr 1.3fr 2fr / 1fr;
    background: var(--cor3-2) url(../imgs/fundo.jpg);
    background-size: cover;
    box-shadow: inset 0 0 8px 1px var(--cor4-2);
}

header {
    height: auto;
    background-color: transparent;
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: black;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.656);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    margin-right: 10px;
    margin-bottom: 13px;
    margin-top: 10px;
}

section {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

section h1 {
    margin-bottom: 10px;
    margin-right: 40px;
    margin-top: 5px;
}

h1 {
    font-size: 2.5em;
    letter-spacing: 0px;
}

i.material-symbols-outlined {
    font-size: 1em;
    position: absolute;
    margin-top: 10px;
}

body > h1 {
    justify-self: center;
    align-self: center;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 3em;
    letter-spacing: 3px;
    grid-area: 2 / 1 / 3 / -1;
    -webkit-text-stroke: var(--cor2-2) 2px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.493);
    margin-bottom: 70px;
}

span {
    font-size: 1.5em;
}

hr.l1 {
    grid-area: 1 / 1 / 2 / 2;
    height: 130px;
    width: 8px;
    color: white;
    background-color: black;
    box-shadow: inset 0 0 4px 2px white;
    justify-self: center;
}

div.tipo {
    grid-area: 2 / 1 / 3 / -1;
    justify-self: center;
    align-self: end;
    margin-bottom: 8px;
} 

div.tipo a {
    padding: 8px 8px 8px 8px;
    background-color: var(--cor2-2);
    color: black;
    -webkit-text-stroke: 1px white;
    border: var(--cor1-2) solid 1px;
    font-size: 1.6em;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: "Montserrat";
}

div.letra {
    max-width: 80px;
    width: 7%;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    background-color: black;
    border: 5px solid var(--cor1-2);
    border-radius: 3px;
    color: black;
    -webkit-text-stroke: 0.5px white;
    box-shadow: 0 0 10px 5px black;
} 

.clicou {
    box-shadow: 0 0 8px 1px red !important;
    border: 3px solid white !important;
    margin-bottom: 3px;
    transition: all ease ;
}

div.area {
    grid-area: 3 / 1 / -1 / -1;
    box-shadow: inset 0 0 10px 1px var(--cor4-2);
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template: 1fr 80px 80px 80px 80px 1fr/ auto;
}

div.linha1, div.linha2, div.linha3, div.linha4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.641);
    width: 85%;
    justify-self: center;
    gap: 3%;
}

div.linha1 {
    grid-area: 2 / 1 / 3 / -1;
    border-radius: 18px 18px 0 0;
    border-top: 3px solid rgba(255, 255, 255, 0.623);
}

div.linha2 {
    grid-area: 3 / 1 / 4 / -1;
}

div.linha3 {
    grid-area: 4 / 1 / 5 / -1;
}

div.linha4 {
    grid-area: 5 / 1 / 6 / -1;
    border-radius: 0 0 18px 18px;
}

div.shadow {
    grid-area: 2 / 1 / 6 / -1;
    width: 85%;
    justify-self: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px var(--cor4-2);
    border: 1px solid var(--cor2-2);
    backdrop-filter: blur(1px);
}

div.tipo a.ativo {
    background-color: transparent;
    box-shadow: 0 0 10px 1px var(--cor4-2);
}